div(ng-controller='ShellCtrl').main-shell

  md-toolbar
    .md-toolbar-tools

      h2(style="font-family: 'Nova Square', cursive;")
        md-icon(md-svg-src='action:trending_up')
        | &nbsp; stocktastic

      md-menu
        md-button.md-icon-button(aria-label='Open phone interactions menu', ng-click='openMenu($mdOpenMenu, $event)')
          md-icon(md-menu-origin='', md-svg-icon='navigation:more_vert')
        md-menu-content(width='4')
          md-menu-item
            md-button(href='https://www.quandl.com/data/WIKI')
              md-icon(md-svg-icon='content:sort', md-menu-align-target='')
              |               Full list of stocks
          md-menu-item
            md-button(href='https://github.com/alanbuchanan')
              md-icon(md-svg-icon='content:link', md-menu-align-target='')
              |               alanbuchanan's github
          md-menu-item
            md-button(href='http://www.freecodecamp.com/challenges/basejump-chart-the-stock-market')
              md-icon(md-svg-icon='social:mood', md-menu-align-target='')
              |               FreeCodeCamp basejump
