div(ng-include='"components/shell/shell.html"')

#chart

section(layout="row")
  div(ng-repeat='stock in stocks track by $index')
    md-button.md-raised(ng-click="removeStock(stock, $index)")
      | {{stock}}
      span#close(ng-show='moreThanOneLeft(stocks)')
        | &nbsp;&times;

br

form(ng-submit='add()')
  input(ng-model='userTypedStockName', placeholder="Add stock")

